:root {
  --main-color: yellowgreen;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("background.jpg");
  color: var(--main-color);
}

button:focus {
  outline: none;
}

.button-container {
  display: flex;
  justify-content: center;
  padding: 30px 0;
}

.button-container button {
  background: none;
  font-size: 1.1rem;
  color: var(--main-color);
  padding: 10px 15px;
  border: 3px solid var(--main-color);
  border-radius: 10px;
  margin: 0 20px;
  transition: 0.5s;
}

.button-container button:hover {
  background: var(--main-color);
  color: white;
  transition: 0.5s;
  cursor: pointer;
}

/* TOP SECTION */

/*SLIDER*/

#chord {
  text-align: center;
  font-size: 4rem;
}

#flashcard-container {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#flashcard-block {
  display: block;
  margin: auto;
  width: 600px;
}

/* TIMER */

.timer-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 2rem;
  padding: 0px 80px;
  margin-top: 50px;
}

#time-display {
  width: 60px;
}

/* BOTTOM CONTAINER */

.container {
  display: flex;
}

.left,
.right {
  width: 50%;
  padding: 0 30px;
}

/* CHECKBOXES */
.checkbox-control {
  padding: 2px 0;
}

.checkbox-control label {
  font-size: 1.4rem;
  padding-left: 10px;
}

#listItems {
  padding-left: 45%;
}
