:root {
  --main-color: yellowgreen;
  --header-font: "Roboto Slab", serif;
  --main-font: font-family: 'Open Sans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("background.jpg");
  color: var(--main-color);
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

button{
    font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

button:focus,
input:focus,
textarea:focus {
  outline: none;
}

.button-container {
  display: flex;
  justify-content: center;
  padding: 30px 0;
}

.button-container button {
  background: none;
  font-size: 1.1rem;
  color: var(--main-color);
  padding: 10px 15px;
  border: 3px solid var(--main-color);
  border-radius: 10px;
  margin: 0 20px;
  transition: 0.5s;
}

.button-container button:hover {
  background: var(--main-color);
  color: white;
  transition: 0.5s;
  cursor: pointer;
}

/* TOP SECTION */

/*SLIDER*/

#chord {
  text-align: center;
  font-size: 3rem;
  font-family: var(--header-font);
  font-weight: 300;
}

#flashcard-container {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#flashcard-block {
  display: block;
  margin: auto;
  max-width: 600px;
  width: 100%;
}

/* TIMER */

.timer-container {
  font-size: 2rem;
  margin-top: 50px;
  display: block;
  margin: auto;
  text-align: center;
}

#time-display {
  width: 60px;
}

/* DROPDOWN CONTAINER */

#close,
#edit {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  font-size: 1.5rem;
  font-family: var(--header-font);
  font-weight: 300;
}

#dropdown {
  position: fixed;
  background: rgb(10, 54, 105);
  height: 0px;
  width: 100%;
  top: 0;
  overflow-y: auto;
  overflow-x: hidden;
  transition: height 0.5s;
  z-index: 2;
}

#dropdown h1 {
  text-align: center;
  padding: 60px 0;
  font-family: var(--header-font);
  font-weight: 300;
}

#container {
  display: flex;
  flex-direction: row-reverse;
}

#left,
#right {
  width: 50%;
  padding: 0 30px;
}

#right label {
  display: block;
}

.form-control {
  padding: 20px 0;
}

/* CHECKBOXES */
.checkbox-control {
  padding: 2px 0;
}

.checkbox-control label {
  font-size: 1.4rem;
  padding-left: 10px;
}

#listItems {
  padding-left: 45%;
}

input[type="text"],
textarea {
  background-color: rgb(32, 125, 141);
  border: 2px solid var(--main-color);
  border-radius: 5px;
  color: white;
  padding: 5px;
}

textarea {
  height: 150px;
}

button:disabled {
  color: gray;
  border-color: gray;
}

button:hover:disabled {
  color: gray;
  border-color: gray;
  background: none;
  cursor: not-allowed;
}

#right button {
  padding: 5px;
  display: block;
  background: none;
  border: 2px solid var(--main-color);
  color: var(--main-color);
  width: 160px;
  border-radius: 5px;
  margin-top: 5px;
}

#right button:hover {
  background: var(--main-color);
  color: white;
  transition: 0.5s;
  cursor: pointer;
}

#right label{
  font-size: 1.1rem;
  padding-bottom: 5px;
}

@media(max-width: 575px){
  #close, #edit{
    display:block;
    text-align:center;
    padding: 20px;
    position: static;
  }
  #container{
    display:block;
    width: 100%;
  }
  #left, #right{
    display:block;
    margin:auto;
    width: 100%;
  }
  #listItems{
    padding:0;
  }
}